
*{box-sizing: border-box}

.content { width: 80%;margin: 0px auto; text-transform: capitalize; overflow: hidden}
img {width:50px; height: 50px; display: block; margin: 0px auto}
.main { ;direction: ltr ;  width:100%; position: relative; overflow: hidden}
h1,h2,h3,h4,h5,h6{color: #0f5f7f; font-family: Tahoma, Geneva, sans-serif}
p{color: #83a7a5; }

.navi{width: 100%;background-color: black; height: 50px; z-index: }
.content .nav{display: flex;justify-content: space-between; position: fixed; height: 50px; width: 80%; line-height: 50px; background-color: rgba(0, 0, 0, 0.9);padding-left: 10px; border-radius: 0px 0px 10px 10px; z-index: 99; margin-right:20px}
.nav input {margin-right: 20px; height: 80%; font-weight: bolder; font-size: 19; border-radius: 10px}
.rit{float: right!imprtant;}
.lft{float: left}
 .navi a{display: inline; text-decoration: none; color: white; margin-right:20px}


 /* start head */
.head{position: relative; height:80% ; width: 100%;transition: all 1s ease-in-out ; overflow: hidden}
.head .one {;background: url(benner_bg.jpg);background-size: cover; height: 100%;transition: all 2s ease-in}
.two {background-color: white; width: 100%; height: 100%; position: absolute; top:0; left: .1; opacity: 0;z-index:100}
.three {position: absolute; top: 250; left: 180; }


.three h2 ,.three p {color: white; font-weight: 900}


.one:hover{transform: scale(1);}
.head:hover .one {transform: scale(1.5)}


input {background-color:#6FB048; border: none; color:white; padding: 5px; height: 50px; width: 140px; font-weight: bolder}

 /* end head */


.bet {margin-top: 50px}
.v {transform: rotate(90deg); border:1px solid #f2f2f2; margin-top: 10px; width: 50px}
.op {margin-top: -1px}


      /* start 1st cont */


.a {margin: 10px auto; }
.a1 {text-align: center}
.a1 h3 {font-size: 40; font-family:Tahoma, Geneva, sans-serif}
  hr {width: 90px;border: 1px solid #f2f2f2}

.a2 { display: flex; justify-content: space-between; margin-top: 40px}
.a2 img {width:50px; height: 50px; display: block; margin: 0px auto}
.a21{text-align: center}
.a21 span {line-height: 2; font-size: 20; color: #0f5f7f; font-family: Tahoma, Geneva, sans-serif; font-weight: bolder}
.a3{margin-top: 50px; display: flex; justify-content: space-between; flex-wrap: wrap}
.a3 .a31 {  ;margin-right: 50px; flex: 1 1 500px}
.a3  img {display: inline; float: left}
 .a3 .s {margin-left: 100px; padding-top: 50px }
h5 {line-height:3;; font-weight: bolder; font-size: 20; color: #0f5f5c}
.a3 p {margin-top: -30px}


   /* end 1st cont */





 /* start 2nd cont */


.b {height: 80%; background-color: #f9f9f9; margin-top: 70px}
.b1{text-align: center; margin-bottom: 50px;  padding-top: 20px; height: 28%}
.b1 h3 {font-size: 40}
.b2 {height: 72%}
.b3{height: 5}
.b2 {width: 40%; float: left;}
.b2 img {width: 70%; height:89%; transform: translate(100px);z-index: 1}
.b3 {width: 50%; float: right; margin-top: 70px}
 
 /* end 2nd cont */



/* start 3rd  cont */ 
 
.c {height: 80%; margin-top: 70px}
.c1 {width: 50%; float: left;padding-top: 139px; font-size: 22px}
.c1 span {font-size: 15; color:#6FB048 }
.c1 p {color: #0f5f7f; font-weight: bold}
.c2 {width: 47%; float: right}
.c2 img { width: 84%; height: 71%}



/* end 3rd  cont */ 

  


/* start 4th  cont */ 

.d{height: 60%; margin-top: 10px;background-color: #f9f9f9}
.d1{width: 48%;float: left;padding-top: 121px;font-size: 17px;}
.d2{ width: 47%; float: right}
.d2 img { width: 102%;height: 89%;padding-top: 50px ; font-weight: }

/* end 4th  cont */ 





/* start 5th  cont */
.e {height: 100%; margin-top: 50px;}
.e1 {height: 30%; text-align: center; padding-top: 50px}
.e2 {height: 60%; display: flex; justify-content: center}
.e21 {width: 28%; text-align: center; height: 100%; border: 2px solid #838684; padding-bottom: 50px; margin: 0}
.e21 h2 {color: #0f5f5c; font-size: 50}
.e21 h6 {color: #6fb048; font-size: 20; font-weight: bolder}


/* end 5th  cont */ 





/*start 6th  cont*/
.f{height: 40%;;text-align: center; background-color:#f9f9f9; padding-top: 20px }
.f1{height: 20%;}
.f2 {height: 80%; display: flex; justify-content: space-between}

/*end 6th cont*/



/*start 7th  cont*/

.g {height: 50% ;padding-top: 70px;text-align: center;  }
.g1{height: 50%; ; font-size: 20px; color: #73b770}
.g1 hr {border: .5px solid #73b770}
.g1 img { transform: translate(-5px)}
.g2{height: 30%; color:gray}
 .g2 a {color: blue}


/*end 7th cont*/




/*start 8th  cont*/
.h {height: 30%; padding-top: 30px;width: 100%; background-image: url(like_bg.png); display: flex; justify-content: center}
.h0{display: flex; justify-content:space-between}
.h1{; font-family: serif; color:#73b770 }
.h1 h2 {font-weight: 900}
.h2{width: 50%;}
.h2 input {width:350px; height: 40px;line-height: 35px; margin: 60px }
/* end 8th cont*/





/*start 9th  cont*/
.j{height: 40%; padding-top: 50px}
.j0{display: flex;justify-content: space-around}
.j11{color: #0f5f5c}
.j11 h3{font-size: 30; margin-bottom: -1}
.j11 p{font-size: 15}
.j11 input { background-color: white; text-shadow: 0px 0px 5px; border: 2px solid gray; width: 200px; padding-left: 20px; color: black}
/* end 9th cont*/












































